<div class="page-header">
  <h2>Create Profile</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :user_name, "User Name" %></div>
      <div class="col-sm-6"><%= f.text_field :user_name,:autofocus => true, class: "form-control", placeholder: "Your user name" %></div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :email %></div>
      <div class="col-sm-6"><%= f.email_field :email, class: "form-control", placeholder: "Your email address" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :password, "Password" %></div>
      <div class="col-sm-6"><%= f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: "Your password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :password_confirmation, "Password Confirmation" %></div>
      <div class="col-sm-6 input-group"><%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype password" %>
        <span class="input-group-btn"><%= f.submit "Sign up", class: "btn btn-success" %></span>
      </div>
    </div>
<% end %>

<br>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= render "devise/shared/links" %>
    <%= link_to "Back", root_path, class: "btn btn-info btn-xs" %>
  </div>
</div>

