<h4>Add existing link to folder</h4>

<%= form_for (current_user.folders.new), url: user_folders_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :folder_name, :value => "#{@folder_name}" %>
  <div class="controls">
    <%= f.label :link_id, "Select A Link" %>
    <%= f.select :link_id, current_user.links.all.uniq.collect { |link| [link.title, link.id] } %>

    <%= f.submit "Add link",:class => 'btn btn-success btn-sm' %>
    <%= link_to "Back", :back, class: "btn btn-info btn-sm" %>
  </div>
<% end %>
