<%- model_class = Folder -%>
<div class="page-header">
  <h1><%= @folder_name %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Link Title</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= folder.link.title if folder.link.present? %></td>
        <td><%=l folder.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.link.show")),
                      user_folder_path(current_user,folder), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_folder_path(current_user,folder), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_folder_path(current_user,folder),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'newlinkform' %>
