<%- model_class = Folder -%>
<div class="page-header">
  <h1>My Folders</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:folder_name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= folder %></td>

        <td>
          <%= link_to "Open Folder", show_folder_links_path(params[:user_id],folder), class: 'btn btn-info' %>
          <%= link_to "Delete", delete_folder_path(current_user.id, folder), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Folder", new_user_folder_path, class: 'btn btn-success' %>
