<%= form_for @link, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :title %></div>
      <div class="col-sm-6"><%= f.text_field :title, class: "form-control", placeholder: "Title" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :description, "About" %></div>
      <div class="col-sm-6"><%= f.text_field :description, class: "form-control", placeholder: "About this link!" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :url, "Visit Here!" %></div>
      <div class="col-sm-6"><%= f.text_field :url, class: "form-control", placeholder: "URL path" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :category, "Category" %></div>
      <div class="col-sm-6"><%= f.text_field :category, class: "form-control", placeholder: "Link category" %></div>
    </div>

    <br>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-success' %>
      <%= link_to "Back", :back, class: 'btn btn-info' %>
    </div>
<% end %>
