<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @link.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @link.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><a href="<%= @link.url %>"><%= @link.url %></a></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @link.category %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", :back, class: 'btn btn-info'  %>
  <%= link_to "Edit", edit_link_path(@link), class: 'btn btn-success' %>
  <%= link_to "Delete", link_path(@link), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger' %>
</div>
